In [61]:
import pandas as pd

ESTE ES NUESTRO TRABAJO DESDE EL WORKBENCH DE MYSQL

-- Muestrame todos los Hombres entre los 30-34 años
SELECT age, gender 
FROM data_xml
WHERE age = "30-34" AND gender = "Man";

-- Distribución por generos de las personas comprendidas entre los 30 y 34 años
SELECT COUNT(age), gender 
FROM data_xml
WHERE age = "30-34" 
GROUP BY gender;

-- Muestrame el número de personas no-binarias que hay por cada rango de edad.
SELECT DISTINCT age, COUNT(gender)
FROM data_xml
WHERE gender = "Nonbinary" 
GROUP BY age
ORDER BY age;

-- Muestrame la distribución de los datos según los rangos de edad.
SELECT DISTINCT age, COUNT(gender)
FROM data_xml
GROUP BY age
ORDER BY age;





AHORA VAMOS A HACER EL MISMO TRABAJO USANDO PYTHON DESDE JUPYTER

In [ ]:
# Nos importamos nuestra clase Consultas, que hemos creado para nuestro cliente Adalab
import Consultas

In [ ]:
# Muestrame todos los Hombres entre los 30-34 años
query1 = """SELECT age, gender 
FROM data_xml
WHERE age = "30-34" AND gender = 'Man'"""

In [ ]:
# Distribución por generos de las personas comprendidas entre los 30 y 34 años
query2 = """SELECT COUNT(age), gender 
FROM data_xml
WHERE age = "30-34" 
GROUP BY gender"""

In [ ]:
# Muestrame el número de personas no-binarias que hay por cada rango de edad.
query3 = """SELECT DISTINCT age, COUNT(gender)
FROM data_xml
WHERE gender = "Nonbinary" 
GROUP BY age
ORDER BY age"""

In [ ]:
# Muestrame la distribución de los datos según los rangos de edad.
query4 = """SELECT DISTINCT age, COUNT(gender)
FROM data_xml
GROUP BY age
ORDER BY age"""

In [ ]:
# definimos nuestros argumentos para usar en la clase.
bbdd = "proyecto_1_adalab"
tabla = "data_xml"

In [ ]:
Consultas(bbdd, tabla, query1).consultas_datos()

In [30]:
# EJEMPLO: VAMOS A GUARDAR EL RESULTADO DE ESTA CONSULTA PARA PODERLO TRABAJAR DESDE .csv

# Distribución por generos de las personas comprendidas entre los 30 y 34 años
ejemplo = Consultas(bbdd, tabla, query2).consultas_datos()

   COUNT(age)                   gender
0        2765                      Man
1         618                    Woman
2          34        Prefer not to say
3          17                Nonbinary
4           7  Prefer to self-describe
Tu consulta se ha guardado en el archivo 'ejemplo.csv' con éxito

In [50]:
# vamos a ver los datos en un datframe de pandas

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                                    host='127.0.0.1',
                                    database=bbdd)
query_pandas = pd.read_sql_query(query2,cnx)

df = pd.DataFrame(query_pandas)

In [51]:
df

   COUNT(age)                   gender
0        2765                      Man
1         618                    Woman
2          34        Prefer not to say
3          17                Nonbinary
4           7  Prefer to self-describe